# Gradle files
.gradle/
# built application files
*.apk
*.ap_ 
# Java class files
*.class
# External native build folder generated in Android Studio 3.6+
.externalNativeBuild/
# IntelliJ IDEA
.idea/
# User-specific configurations
local.properties
